@charset "UTF-8";


body {
	background-image: url('jenAiMarre.png');
	min-height: 100vh;
	min-width: 90vw;
	overflow : scroll;
	background-size: cover;
	font-family : Century Gothic;
}

header {
	display : flex;
	background-color: grey;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 0 12px 12px white;
	border-radius : 20px;
}

header > a {
	color : white;
}

.subheader {
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: 5vw;
	padding: 4vw;
	border : 2px black solid;
	border-radius: 20px;
}

h1 {
	color : white;
}

a {
	text-decoration: none;
}

.article {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: white; 
	margin : 10vw;
	padding : 5vw;
	border : 2px black solid;
	border-radius: 20px;
	box-shadow: 0 0 12px 12px grey;
	width : 20vw;
}

.ligneArticle {
	display : flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	align-content : center;
	color: grey;
}

.ligneArticle:nth-child(1) {
	color: black;
	font-weight: bold;
}

h3 {
	color: black;
}

input {
	border-radius: 10px;
	background-color: white;
	font-family : Century Gothic;
}

select {
	border-radius: 10px;
	background-color: white;
	font-family : Century Gothic;
}

.formulaire {
	display: flex;	
}

